:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --step-color: #939ba6;
}

body {
  min-width: 320px;
  min-height: 100vh;
  padding-block: 2rem;
  justify-content: flex-start;
  padding-inline: 8px;
}

@media (min-width: 720px) {
  body {
    margin: 0;
    display: flex;
    place-content: center;
    min-width: 320px;
    min-height: 100vh;
    padding-block: 2rem;
  }
}

p {
  max-width: 48ch;
  text-align: left;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-block: 0 2rem;
  text-align: center;
}

.sequencer-container {
  width: min-content;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  box-sizing: border-box;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #121212;
    background-color: #eeeeee;
    --step-color: #939ba6;
  }
  button {
    background-color: #f9f9f9;
  }
}

fieldset {
  display: block;
  text-align: left;
  margin-right: auto;
  width: max-content;
  margin-block: 1rem;
}

fieldset label {
  position: relative;
  width: 45px;
  display: inline-block;
  text-align: center;
}

fieldset label::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  height: 5px;
  background: var(--background-color);
}

.sequencer-lanes {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sequencer-lanes [role="gridcell"] {
  height: 2rem;
}

.lane,
.playhead-lane {
  display: grid;
  --max-steps: 16;
  --max-column-end: calc(var(--max-steps) + 1);
  grid-template-columns: repeat(var(--max-steps), minmax(0, 1fr));
  width: 542px;
  gap: 2px;
}

.lane [role="gridcell"] {
  grid-column-start: max(var(--column-start), 0);
  grid-column-end: min(var(--column-end), var(--max-column-end));
}

.playhead-lane {
  margin-block: 10px;
}

.step,
.playhead-step {
  width: 100%;
  height: 2rem;
}

.step {
  --background-color: var(--step-color);
  background: var(--background-color);
}

.step[aria-pressed="true"],
fieldset label {
  --background-color: #3b58e2;
  --background-highlight: #3650cd;
}
.step[aria-pressed="true"][data-playing="true"] {
  background: var(--background-highlight);
}

.step[aria-pressed="true"][data-duration="1"],
fieldset label[data-duration="1"] {
  --background-color: #00ce8d;
  --background-highlight: #00bb80;
}

.step[aria-pressed="true"][data-duration="0.75"],
fieldset label[data-duration="0.75"] {
  --background-color: #ed4df0;
  --background-highlight: #d746da;
}

.step[aria-pressed="true"][data-duration="0.5"],
fieldset label[data-duration="0.5"] {
  --background-color: #08a9ff;
  --background-highlight: #079ae8;
}

.playhead-step {
  border-radius: 8px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.playhead-step[data-active="true"] {
  background: #3b58e24d;
}

.play-stop {
  padding: 0.6rem 1rem;
  width: 8ch;
}

.controls {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  gap: 1rem;
}

.controls label {
  display: flex;
  align-items: center;
  gap: 5px;
}
